# ======================
# Python cache
# ======================
**/__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Virtual environment
# ======================
.venv/
venv/
env/

# ======================
# Testing / Coverage
# ======================
.pytest_cache/
.coverage
htmlcov/

# ======================
# Build artifacts
# ======================
dist/
build/
*.egg-info/

# ======================
# IDE / Editor
# ======================
.idea/
.vscode/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
