# ======================
# Python cache
# ======================
__pycache__/
*.pyc

# ======================
# Virtual environment
# ======================
.venv/

# ======================
# IDE / Editor
# ======================
.idea/
.vscode/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
